{% extends 'base.html.twig' %}

{% block title %}Réserver votre menu{% endblock %}

{% block body %}

<body id="bodyPageReservation">

	<section id="pageReservation">
		<h1>Beau et bon</h1>
	</section>
	<div id="container" class="flex">
		<div id="contenuReservation">
			<main id="mainReservation">
				<div id="contenuMenu">
					<h2>DESCRIPTION DU SERVICE</h2>
					<p>Le chef vient avec le nécessaire pour la préparation du repas à l’heure convenue.<br>Il prépare le repas dans votre cuisine, sert les convives à table et nettoie la cuisine<br>avant de partir.</p>
					<hr class="traitReservation"></hr>
				<h2>AMUSE-BOUCHE</h2>
				<p>Amuse-bouche du moment</p>
				<hr class="traitReservation"></hr>
			<h2>ENTRÉE</h2>
			<p>Rillettes aux deux saumons, pickles de radis noir et mesclun aux herbes</p>
			<hr class="traitReservation"></hr>
		<h2>PLAT</h2>
		<p>Joue de bœuf braisée au vin de truffe, spaetzles en persillade</p>
		<hr class="traitReservation"></hr>
	<h2>DESSERT</h2>
	<p>Crumble aux fruits de saison.</p>
	<hr class="traitReservation">
</body></hr><div id="profilchefReservation" class="flexSansWrap">
<img src="photos/pageChefs/damiensimon.png" alt="Photo de profil du chef Damien Simon" id="photoChefReservation">
<div id="imageEtTexte">
	<p>A propos du chef...<br><strong>Damien Simon</strong><br>
		<a href="#">Voir le profil du chef</a>
	</p>
</div>
<div id="etoileReservation" class="flex etoilesPageReservation">
	<div class="etoileJaune">
		<i class="fas fa-star"></i>
	</div>
	<div class="etoileJaune">
		<i class="fas fa-star"></i>
	</div>
	<div class="etoileJaune">
		<i class="fas fa-star"></i>
	</div>
	<div class="etoileJaune">
		<i class="fas fa-star"></i>
	</div>
	<div class="etoile">
		<i class="far fa-star"></i>
	</div>
	<p id="moyenneReservation">MOYENNE 4/5</p>
</div></div><div id="optionReservation">
<h3>En option</h3></div><div id="options">
<div id="menuEnfant">
	<div class="flex">
		<h2 class="optionTitre">MENU ENFANT</h2>
		<p class="optionPrix">20 €</p>
	</div>
	<div class="flex">
		<p>Le Menu est à définir avec le<br>chef (plat/dessert)</p>
		<input type="number" name="" min="2" max="30" class="boutonsOption">
		<button id="boutonAjouter">+  AJOUTER</button>
	</div>
</div>
<div id="piecesAperitives">
	<div class="flex">
		<h2 class="optionTitre">PIECES APERITIVES</h2>
		<p class="optionPrix">8 €</p>
	</div>
	<div class="flex">
		<p>Une sélection gourmande de<br>3 pièces apéritives</p>
		<input type="number" name="" min="2" max="30" class="boutonsOption">
		<button id="boutonAjouter">+  AJOUTER</button>
	</div>
</div>
<div id="fromage">
	<div class="flex">
		<h2 class="optionTitre">FROMAGE</h2>
		<p class="optionPrix">9 €</p>
	</div>
	<div class="flex">
		<p>Un assortiment de fromages<br>servis à l'assiette</p>
		<input type="number" name="" min="2" max="30" class="boutonsOption">
		<button id="boutonAjouter">+  AJOUTER</button>
	</div>
</div>
<div id="carresReservations" class="flex">
	<div id="prixInclus">
		<h2>CE QUE LE PRIX INCLUS...</h2>
		<i class="fas fa-check">
			<p>L'achat des ingrédients</p>
		</i>
		<i class="fas fa-check">
			<p>La préparation des plats</p>
		</i>
		<i class="fas fa-check">
			<p>La vaiselle et le rangement</p>
		</i>
	</div>
	<div id="garanties">
		<h2>NOS GARANTIES</h2>
		<i class="fas fa-check">
			<p>Un service client disponible</p>
		</i>
		<i class="fas fa-check">
			<p>Satisfait ou remboursé</p>
		</i>
		<i class="fas fa-check">
			<p>Paiment sécurisé par CB</p>
		</i>
	</div>
</div>
</div>
</main>
</div>
<div id="containerAside">
<aside id="asideReservation" class="flex">
<div id="votreReservation">
<h2>VOTRE RESERVATION</h2>
<hr class="traitAside">
<form id="reservationForm">
	<label>A</label>
	<input type="text" name="A" placeholder="Votre ville" class="reservationinput"><br>
	<label>Le</label>
	<input type="date" name="date" placeholder="Date" id="dateinput"><br>
	<label>à</label>
	<input type="time" name="time" placeholder="Heure du service" min="11:00" max="21:00" class="reservationinput">
</form>
</div>
<div id="votrePanier">
<h2>VOTRE PANIER</h2>
<hr class="traitAside">
<div class="lignePanier">
	<p class="inlineBlock">Nombre total de convives</p>
	<input type="number" name="" min="2" max="30" class="inlineBlock">
</div>
<div class="lignePanier">
	<p class="inlineBlock">Prix unitaire</p>
	<p class="inlineBlock" id="placementPPanier">50 €</p>
</div>
<div class="lignePanier">
	<p class="inlineBlock">Menu x 6</p>
	<p class="inlineBlock" id="placementPPanier1">300 €</p>
</div>
<div>
	<div class="lignePanier">
		<p class="inlineBlock">Frais de réservation</p>
		<p class="inlineBlock" id="placementPPanier2">15 €</p>
	</div>
	<div>
		<div class="lignePanier" id="lignePanierJaune">
			<p class="inlineBlock">Total TTC</p>
			<p class="inlineBlock" id="placementPPanier3">315 €</p>
		</div>
		<div class="clear"></div>
		<p id="modificationReservation">Une modification à apporter au menu ?</p>
		<textarea id="textareaReservation" placeholder="Vous pouvez ici indiquer vos préférences de cuisson, allergie, modification de menu (changer un plat, etc...)"></textarea>
		<button id="boutonReservation">RESERVER CETTE PRESTATION</button>
	</div>
	<div class="fondGris">
		<img src="photos/pageReservation/moyensPaiement.png" alt="images des différents cartes bancaires acceptées" id="moyensPaiement">
		<div id="reservezCeChef">
			<h3>RESERVEZ VITE CE CHEF POUR BLOQUER SON AGENDA...</h3>
			<p>Suppléments (vins, plateau fromage) possibles après la réservation</p>
			<p>Modifications sur le menu, ajouts de convives... possibles jusqu'à la veille de la prestation</p>
			<p>Encore plus de flexibilité : annuler sans frais jusqu’à 48h avant la date de l’évènement !</p>
		</div>
	</div>
</aside>
</div>
</div>
</body>




{% endblock %}
